html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

main .card {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.content {
    margin: 30px auto;
}

.card .content .title {
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card .content .description {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    color: hsl(220, 15%, 55%);
}